# Git
.git
.gitignore

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info
dist
build
.pytest_cache
.coverage

# Virtual environments
venv
env
ENV

# IDEs
.vscode
.idea
*.swp
*.swo

# Logs
*.log

# Database
*.db
*.sqlite
*.sqlite3

# Docker
Dockerfile
.dockerignore
docker-compose.yml

# Documentação
README.md
*.md

# Outros
.DS_Store
seed_db.py
seed_db copy.py
test_routes.py
