version: '3.8'

services:
  app:
    build: .
    container_name: powerbi_app
    ports:
      - "5000:5000"
    environment:
      FLASK_ENV: development
      DATABASE_URL: mssql+pyodbc://conexao.plataformaunidades:12345678@10.83.0.120:1433/plataforma_unidades_homol?driver=ODBC+Driver+17+for+SQL+Server
    volumes:
      - .:/app
    command: >
      sh -c "
        flask db upgrade &&
        gunicorn -w 4 -b 0.0.0.0:5000 --reload --access-logfile - --error-logfile - run:app
      "
